:root{
  --cor-primaria: #000000;
  --cor-secundaria: #FFFFFF;
  --cor-background: #3D3D3D;
  --cor-linha-vertical: #CCC;
  --cor-vip: #FFD700;
  --cor-premium: #C0C0C0;
  --cor-gratuito: #CD7F32;
}